*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body
{
    font-family: 'Kumbh Sans', sans-serif;;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    .background
    {
        padding: 0px;
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        background-color:  hsl(185, 75%, 39%);
        overflow: hidden;
    }
}

.container
{
    padding: 0px;
    margin: 0px;
    position: relative;
    height: 400px;
    width: 300px;
    box-shadow: 0px 10px;
    border: .5px black solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    .top-half
    {
        height: 70%;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        .top-top-background
        {
            height: 50%;
            width: 100%;
            img
            {
                height: 100%;
                width: 100%;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
            }
        }
        .image-container
        {
            position: absolute;
            top: 100px;
            height: 75px;
            width: 75px;
            border: 5px white solid;
            border-radius: 50px;
            .profile-pic
            {
                height: 100%;
                width: 100%;
                border-radius: 50px;
            }
        }
        .top-bottom-half
        {
            background-color: white;
            height: 50%;
            width: 100%;
            display: flex;
            align-items: center;
            
            flex-direction: column;
            .name-and-age
            {
                margin-top: 60px;
                display: flex;
                #name
                {
                    font-weight: 700;
                    margin-right: 5px;
                }
                #age
                {
                    color: hsl(227, 10%, 46%);
                }
            }
            #city
            {
                margin-top: 10px;
                color: hsl(227, 10%, 46%);
                font-size: 14px;
            }
        }
    }
    .bottom-half
    {
        height: 30%;
        width: 100%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        .stat-container
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            #stat-number
            {
                font-weight: 700;
            }
            #stat-category
            {
                color:  hsl(227, 10%, 46%);
                font-size: 12px;
            }
        }
    }
}



